---
layout: archive
title: "Animations"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

If a picture tells more than a thousand words then a GIF-animation
should tell at least a million...<br>

<img src="../images/stefanSDE.jpg"  width=240 alt="Stefan Engblom" title="Photo: Henrik Johansson" border=2><br><br><br>

SimInf and Data-driven epidemiological simulations:
<ul>
  <li>
  <a href="../files/siminf_anim1.html" target="_blank">Modeling and simulation of the spread of VTEC</a>
  </li>
</ul>
<br>

URDME simulating stochastic spatial kinetics:
<ul>
  <li>
  <a href="../files/URDME_anim1.html" target="_blank">Min oscillations in E. coli</a>
  </li>
  <li>
  <a href="../files/URDME_anim2.html" target="_blank">Stochastic Morphogenesis</a>
  </li>
</ul>
<br>

Surfactant in two-phase fluid flow (simulations by <a href="http://www.mech.kth.se/mech/info_staff.jsp?ID=152">Minh Do-Quang</a>):
<ul>
  <li>
  <a href="../files/surf_anim1.html" target="_blank">Bubbles</a>
  </li>
</ul>
<br>
		  
Fibers in Stokes flow:
<ul>
  <li>
  <a href="../files/fibr_anim1.html" target="_blank">200 periodic fibers</a>
  </li>
  <li>
  <a href="../files/fibr_anim2.html" target="_blank">Stable solutions</a>
  </li>
  <li>
  <a href="../files/fibr_anim3.html" target="_blank">Smoke rings</a> (simulations by <a href="http://www.kth.se/profile/jgrunig">Jennifer Gr&uuml;nig</a>)
  </li>
</ul>
<br>

The master equation:
<ul><li>
  <a href="../files/CME_anim1.html" target="_blank">A simple example.</a>
  </li>
  
  <li>
  <a href="../files/CME_anim3.html" target="_blank">A bistable system.</a>
  </li>

  <li>
  <a href="../files/CME_anim2.html" target="_blank">Rare event in a bistable system.</a>
  </li>
  
  <li>
  <a href="../files/CME_anim4.html" target="_blank">Weak inhibition.</a>
  </li>
  
  <li>
  <a href="../files/CME_anim5.html" target="_blank">A population model.</a>
  </li>
</ul>
<br>

Autotuning (simulation by <a href="http://www.it.uu.se/katalog/marlu734">Marcus Holm</a>):
<ul><li>
  Autotuning of <a href="../files/fmm_anim9.html" target="_blank">cylinder flow simulation</a> on multicore CPU/manycore GPU system.
  </li>
</ul>
<br>

Flow around airfoils (simulations by Paul Deglaire):
<ul>
  <li>
  Cylinder flow at <a href="../files/fmm_anim1.html"
  target="_blank">low Reynolds</a> and at <a
  href="../files/fmm_anim2.html" target="_blank">medium
  Reynolds.</a> </li>

  <li> <a href="../files/fmm_anim3.html"
  target="_blank">Flow around a flat plate at low
  Reynolds.</a> </li>

  <li>Flow around static wings: <a
  href="../files/fmm_anim5.html"
  target="_blank">FX79w151a at low Reynolds</a>, <br> <a
  href="../files/fmm_anim4.html"
  target="_blank">NACA0015 at medium Reynolds.</a> </li>

  <li>Wing pitchup: <a href="../files/fmm_anim6.html"
  target="_blank">NACA0012 at medium high Reynolds</a>,
  <br> <a href="../files/fmm_anim7.html"
  target="_blank">NACA8818 at medium high Reynolds.</a>
  </li>
</ul>
<br>

Miscellaneous:
<ul>
  <li>
  <a href="../files/fmm_anim8.html"
  target="_blank">Colliding galaxies!</a></dl></dt></li>
</ul>

<!--
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
-->
