---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<ul>

  <li><p><i>Stochastic modeling for the single cell and the cell
  population: considerations for data-driven methodologies</i></p>
  <ul><li>Invited talk given in the <a
  href="https://www.srcsb.uni-stuttgart.de/seminar/">Systems Biology
  Seminar</a> series. Host: <a
  href="https://www.uni-stuttgart.de/universitaet/organisation/personen/Radde-00006/">Nicole
  Radde</a>. <a href =
  "../files/talks/Stuttgart191107_shortened_movies.pdf">(pdf)</a>.  </li>
  </ul> </li>

<li><p><i>Bridging the single cell with the cell population: opening
up for data-driven methodologies</i></p> <ul><li>At the <a
href="https://www.enumath2019.eu/">ENUMATH</a> conference, September
30--October 4, 2019, at Egmond aan Zee, The Netherlands. <a href =
"formalia/ENUMATH190930_shortened_movies.pdf">(pdf)</a>.  </li> </ul>
</li>

<li><p><i>Bayesian epidemiologial modeling: with little and without
  data</i></p> <ul><li>At the conference <a
  href="https://sites.google.com/site/emultiscale2019/">Multiscale
  Modelling of Materials and Molecules</a> in Uppsala, June 3--5,
  2019. <a href="formalia/EMMC-eSSENCE_2019.pdf">(pdf)</a>.  </li>
  </ul> </li>

<li><p><i>From the bottom and up: bridging the single cell with the
cell population</i></p> <ul><li>At the workshop <a
href="http://crm.sns.it/event/422">Multidisciplinary and multiscale
approaches to bridge the gap between molecular and cellular level</a>,
October 13--17, 2018, at the Centro di Ricerca Mathematica (CRM) Ennio
De Giorgio in Pisa, Italy. The workshop was part of the Program <a
href="http://crm.sns.it/event/421">Advanced asymptotics of PDEs,
modeling and extreme statistics and their applications to data
analysis in cell biology</a>. <a href =
"formalia/Pisa181001_shortened_movies.pdf">(pdf)</a>.  </li> </ul>
</li>

<li><p><i>Bridging the scales between the single cell and the cell
population - computational considerations</i></p> <ul><li>At the <a
href="http://www.ipam.ucla.edu/programs/workshops/workshop-iv-uncertainty-quantification-for-stochastic-systems-and-applications/">Workshop
IV: Uncertainty Quantification for Stochastic Systems and
Applications</a>, November 13--17, 2017, part of the Program <a
href="http://www.ipam.ucla.edu/programs/long-programs/complex-high-dimensional-energy-landscapes/">Complex
High-Dimensional Energy Landscapes</a> at <a
href="http://www.ipam.ucla.edu/">IPAM</a>, UCLA, CA, USA. <a href =
"formalia/IPAM171113_shortened_movies.pdf">(pdf)</a>.  </li> <li>See
the talk <a
href="http://www.ipam.ucla.edu/abstract/?tid=14343&pcode=ELWS4">here.</a></i>
</ul> </li>

</ul>

<img src="../images/stefaninspain.jpg" width=200 alt="Stefan Engblom"
title="Photo: M&auml;rta Cullhed" border=2>

<ul>
<li><p><i>A case study of Data-driven computational modeling in
Epidemics: bringing the dirt to the classroom</i></p> <ul><li>In the
LTH Seminar Series, Lund University, March 6, Lund, Sweden, 2017. <a
href = "formalia/Lund170306.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Data-driven Epidemiological Simulations: Verotoxigenic
E. coli O157</i></p> <ul><li>At the workshop <a
href="http://www.birs.ca/events/2016/5-day-workshops/16w5041">Mathematical
Biology for Understanding Emerging Infectious Diseases at the
Human-Animal-Environment Interface: a "One Health" Approach</a>,
November 20--25, 2016 in Banff, Canada. <a href =
"formalia/Banff161124.pdf">(pdf)</a>.  </li> <li>The lecture was video
recorded <a
href="http://videos.birs.ca/2016/16w5041/201611240925-Engblom.mp4">(mp4)</a>.</li>
<li>Related talks were given also in the workshop <a
href="http://www.it.uu.se/conf/scicompswe2016">Scientific Computing in
Sweden</a> and in the <a
href="http://www.math.uu.se/cim/activities/workshops/bayesian-meeting-2016">Bayesian
Meeting</a>.</li> </ul> </li>

<li><p><i>Stability and strong convergence in multiscale methods for
spatial stochastic kinetics</i></p> <ul><li>At the <a
href="https://www.newton.ac.uk/event/sdbw04">Spatially Distributed
Stochastic Dynamical Systems in Biology</a> at the Isaac Newton
Institute for mathematical Sciences, June 20--24, Cambridge, UK, 2016:
<a href = "formalia/Cambridge160620.pdf">(pdf)</a>.  </li> <li>The
lecture was video recorded <a
href="http://www.newton.ac.uk/seminar/20160620140014451">(embedded
video)</a>.</li> </ul> </li>

<li><p><i>Pathwise analysis for split-step methods and multiscale
variable splitting in spatial stochastic kinetics</i></p> <ul><li>At
<a
href="http://scicade2015.math.uni-potsdam.de/scicade2015/index.html">SciCADE
2015</a>, in the minisymposia <a
href="http://scicade2015.math.uni-potsdam.de/scicade2015/minisymposiadetails.html#MS05">Multiscale
and splitting methods: Theory and Applications</a>, in
Potsdam/Germany, September 14--18, 2015: <a href =
"formalia/SciCADE150914.pdf">(pdf)</a>. </li><li> An updated version
of this talk was given at KTH in the <a
href="http://www.kth.se/en/sci/institutioner/math/kalender/semna/stefan-engblom-pathwise-analysis-for-split-step-methods-and-multiscale-variable-splitting-in-spatial-stochastic-kinetics-1.589288">Numerical
analysis series</a> (2015): <a href =
"formalia/KTH_NA151022.pdf">(pdf)</a>.  </li></ul> </li>

<li><p><i>Towards consistent and effective modeling in the stochastic
reaction-diffusion framework</i></p> <ul> <li>In the <a
href="http://www.maths.ox.ac.uk/events/list/659">Mathematical Biology
and Ecology Seminar series</a> at Oxford University, UK, May 15, 2015:
<a href = "formalia/Oxford150515.pdf">(pdf)</a>.  </li> </ul>

<li><p><i>Pointless exams at advanced level courses</i></p> <ul>
  <li>At the internal pedagogical conference of the Faculty of Science
  and Technology, Uppsala, Sweden, 2015: <a href =
  "formalia/Uppsala150318.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Minisymposium <a
href="http://www.scilifelab.se/events/frontiers-in-cell-migration/"><b>Frontiers
in Cell Migration</b></a>, December 12, 2014, Uppsala university,
Uppsala, Sweden.  <a
href="http://www.scilifelab.se/wp-content/uploads/2014/09/Frontiers-in-cell-migration-symposia_final1.pdf">Final
program (pdf)</a><br>

Organizing committee: Stefan Engblom, Johan Kreuger, Mia
Phillipson.<br></i></p> </li>

<li><p><i>Mesoscopic Stochastic Modeling: Diffusion Operators,
  Multiphysics Couplings, and Convergence</i></p> <ul> <li>In the BIRS
  workshop <a
  href="http://www.birs.ca/events/2014/5-day-workshops/14w5103"><i>Particle-Based
  Stochastic Reaction-Diffusion Models in Biology</i></a> in Banff,
  Alberta, Canada, November 2014: <a href =
  "formalia/Banff141110.pdf">(pdf)</a>.  </li> <li>The lecture was
  video recorded <a
  href="http://www.birs.ca/events/2014/5-day-workshops/14w5103/videos/watch/201411101417-Engblom.mp4">(mp4)</a>.</li>
  </ul> </li>

<li><p><i>Mesoscopic Stochastic Modeling and the Diffusion Operator
</i></p> <ul> <li>In the minisymposium <i>Position-jump models of
biological processes on irregular lattices</i> at the <a
href="http://www.ecmtb2014.org">9th European Conference on
Mathematical and Theoretical Biology</a> in Gothenburg, Sweden, June
2014: <a href = "formalia/ECMTB140615.pdf">(pdf)</a>.  </li> <li>Also
organized at the same conference (with Stefan Widgren) the
minisymposium <i>Data-driven modeling of epidemics</i>: <a href =
"formalia/ProgramDDE.pdf">program with abstracts</a>.</li> </ul> </li>

<li><p><i>A new take at Adaptive Fast Multipole Methods: application,
implementation, and hybrid CPU/GPU parallelism </i></p> <ul> <li>In
the <a href="http://www.kth.se/sci/centra/kcse/kcse-seminars">KCSE
Seminar series</a> at the <a href = "http://www.kcse.kth.se">KTH
Computational Science and Engineering Centre</a> in Stockholm, Sweden,
November 2013: <a href = "formalia/KCSE131106.pdf">(pdf)</a>.  </li>
</ul> </li>

<li><p><i>Spatial Stochastic Modeling in URDME: consistency, software,
and applications to neuronal processes (talk given by Pavol Bauer)
</i></p> <ul> <li>At the <a href="http://www.incf.org/">INCF</a>
workshop, San Diego CA, USA, October 2013: <a href =
"formalia/INCF131005.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Sensitivity estimation and inverse problems in spatial
  stochastic models of chemical kinetics</i></p> <ul> <li>At the <a
  href="http://enumath2013.epfl.ch">ENUMATH</a> conference, EPFL,
  Switzerland, August 2013: <a href =
  "formalia/EPFL130829.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Stochastic Modeling in Reaction-Transport Processes: Forward
and Backward considerations</i></p> <ul> <li>In the <a
href="http://www.bsse.ethz.ch/events/seminar_series">BSSE seminar
series</a> at ETH, Basel, Switzerland, March 2013: <a href =
"formalia/ETH130326.pdf">(pdf)</a>.  </li> <li>A guest lecture
entitled <i>Mesoscopic Stochastic Modeling of Reaction-Transport
Processes</i> was also given <a href =
"formalia/ETH130328.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Biologi: en utmaning f&ouml;r Numerisk Analys</i></p> <ul>
  <li>Docent lecture, Uppsala, Sweden, March 2013: <a href =
  "formalia/Docent130306.pdf">(pdf in swedish)</a>.  </li> </ul> </li>

<li><p><i>Tips, tricks, and experiences with active grading criteria
  and pointless exams</i></p> <ul> <li>At <a href =
  "http://www.maths.lth.se/na/GS60/">Gustaf S&ouml;derlind's 60th
  Birthday Symposium</a> in Lund, Sweden, December 2012: <a href =
  "formalia/Lund121213.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Parallel Adaptive Fast Multipole Method: application,
  design, and more...</i></p> <ul> <li>At the <a
  href="http://www.it.uu.se/research/seminars/">Parallel Scientific
  Computing and Programming (PSCP) Colloquium</a> in Uppsala, Sweden,
  March, 2011: <a href = "formalia/PSCP110304.pdf">(pdf)</a>.  </li>
  </ul> </li>

<li><p><i>Simulation of surfactant in diffuse interface flow</i></p>
  <ul> <li>At the workshop <a
  href="http://user.it.uu.se/~maya/wrkshop1011/">FLASHES on research
  in Scientific Computing</a> in Uppsala, Sweden, November 2010: <a
  href = "formalia/Uppsala101124.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Mesoscopic Stochastic Modeling of Reaction-Diffusion
  Processes</i></p> <ul> <li>In the <a
  href="http://www.kth.se/sci/centra/kcse/kcse-seminars">KCSE Seminar
  series</a> at the <a href = "http://www.kcse.kth.se">KTH
  Computational Science and Engineering Centre</a> in Stockholm,
  Sweden, February 2010: <a href =
  "formalia/Stockholm100210.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Simulation of stochastic reaction-diffusion processes on
  unstructured meshes</i></p> <ul> <li> At the First Swedish meeting
  on Theory and Mathematics in Biology and Medicine, held at the <a
  href = "http://www.math.uu.se/cim">Centre for Interdisciplinary
  Mathematics</a> in Uppsala, Sweden, December 2009: <a
  href="formalia/Uppsala091218.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Numerical Solution Methods in Stochastic Chemical
  Kinetics</i></p> <ul> <li> PhD dissertation defense <a
  href="formalia/PhD081128.pdf">(pdf)</a> succesfully presented the
  28th of November 2008. Opponent: <a
  href="http://www.hamilton.ie/compphysiol/cms/huisinga/rubrik/3/3001.dr_wilhelm_huisinga.htm">Wilhelm
  Huisinga</a>. Grading committe: <a
  href="http://www.nada.kth.se/~jespero/">Jesper Oppelstrup</a>, <a
  href="http://www.cs.chalmers.se/~stig/">Stig Larsson</a> and <a
  href="http://user.it.uu.se/~lina/">Lina von Sydow</a>.  </li> </ul>
  </li>

<li><p><i>Simulation of stochastic reaction-diffusion processes on
  unstructured meshes</i></p> <ul> <li> Given at the <a
  href="http://www.fcc.chalmers.se/">Fraunhofer-Chalmers Centre</a> in
  Gothenburg, Sweden, October 2008: <a
  href="formalia/Gothenburg081031.pdf">(pdf)</a>.  </li> </ul> </li>

<li><p><i>Parallel Solution of Multiscale Stochastic Chemical
  Kinetics</i></p> <ul> <li> At the Dahlquist Fellowship Workshop at
  KTH, Stockholm, Sweden, October 2008: <a
  href="formalia/Stockholm081020.pdf">(pdf)</a>. The same talk was
  given at the <a href = "http://www.icnaam.org/index.htm">ICNAAM</a>
  conference at Kos, Greece, September 2008.  </li> </ul> </li>

<li><p><i>Numeriska metoder f&ouml;r den kemiska
  masterekvationen</i></p> <ul> <li> Licentitate seminar <a
  href="formalia/Lic060927.pdf">(pdf in swedish)</a> succesfully
  presented the 27th of September 2006. External reviewer: <a
  href="http://www.nada.kth.se/~szepessy/">Anders Szepessy</a>, KTH.
  </li> </ul> </li>

<li><p><i>Numerical solution methods for the master equation</i></p>
  <ul> <li> At the <a
  href="http://www.iam.uni-bonn.de/ag-kunoth/ws07/Konferenzheft05.pdf">
  IHP-EU Network Workshop/Winter school 2005: "Breaking
  complexity"</a> in Bad Honnef, Germany, December 2005: <a
  href="formalia/Bad_Honnef051214.pdf">(pdf)</a> </li> </ul> </li>
    
  </ul>

<!--
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->