---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<img src="../images/stefan_teaching2.jpg" width=180 alt="Stefan
Teaching" title="Photo: Robin Eriksson" border=2> <img
src="../images/stefan_teaching1.jpg" width=205 alt="Stefan Teaching"
title="Photo: Robin Eriksson" border=2>
<br><br>

Fall 2024: <a
href="https://uppsala.instructure.com/courses/101421">Project course in
Computational Science 1TD307 (15.0hp).</a><br><br>

Spring 2024: module <a
href="https://uppsala.instructure.com/courses/92855">Stochastic
add-on (graduate course)</a>.<br>
Fall 2023: module <a
href="https://uppsala.instructure.com/courses/87104">Foundations of
probabilistic modelling (graduate course)</a>.<br>
Fall 2023: <a
href="https://uppsala.instructure.com/courses/89153">Project course in
Computational Science 1TD307 (15.0hp).</a><br>
Spring 2022: <a href="http://www.it.uu.se/education/phd_studies/phd_courses/NumFunkAnalysis">Numerical Functional Analysis (7.5hp, graduate
course)</a><br>
Spring 2022: <a href="https://uppsala.instructure.com/courses/45208">Scientific Computing III 1TD397 (5.0hp).</a><br>
Fall 2021: <a href="https://uppsala.instructure.com/courses/43693">Scientific Computing III 1TD397 (5.0hp).</a><br>
Spring 2020: <a href=https://studentportalen.uu.se>Scientific Computing I 1TD393 (5.0hp).</a><br>
Spring 2020: <a href="http://www.it.uu.se/education/phd_studies/phd_courses/NumStoch">Numerical methods in stochastic modeling and simulations (7.5hp, graduate
course)</a>. <br>
Fall 2019: <a href=https://studentportalen.uu.se>Scientific Computing II 1TD395 (5.0hp)</a>.<br>
Previously also given 2018, 2017, 2016, 2015.<br>
Spring 2019: <a href="http://www.it.uu.se/education/phd_studies/phd_courses/NumFunkAnalysis">Numerical Functional Analysis (7.5hp, graduate
course)</a><br>
Fall 2017:<a href=https://studentportalen.uu.se>Advanced Numerical
Methods 1TD050</a> (10.hp)<br>
Fall 2016: <a href=https://studentportalen.uu.se>Advanced Numerical
Methods 1TD050</a> (10.hp)<br>
Spring 2016: <a href="http://www.it.uu.se/education/phd_studies/phd_courses/NumStoch_2016">Numerical methods in stochastic modeling and simulations (7.5hp, graduate
course)</a>. <br>
Fall 2014: <a href="http://www.it.uu.se/education/phd_studies/phd_courses/NumFunkAnalysis_2014">Numerical Functional Analysis (5.0hp, graduate
course)</a>.<br>
Spring 2014: <a href=http://www.it.uu.se/edu/course/homepage/finmet2/vt14>Finite element methods II 1TD254 (5.0hp)</a>.<br>
Fall 2012: <a href=http://www.it.uu.se/edu/course/homepage/fem/ht12>Finite element methods 1TD253 (5.0hp)</a>.<br>
Spring 2012: <a href=formalia/CoursePM.pdf>Classic Articles in Numerical Analysis (7.5hp, graduate course)</a>.<br>
Fall 2010: <a
href=http://www.it.uu.se/edu/course/homepage/fem/ht10>Finite element
methods 1TD253 (5.0hp)</a>.<br><br>

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
